.catalog { 
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;

    text-align: center;
}

.catalog select, .catalog input {
    width: 90%;
}

.catalog thead {
    font-weight: bold;
    background-color: lightgray;
}

.catalog td {
    border: 1px solid black;
}